<% include header.ejs %>
<link href='/css/style.css', rel='stylesheet', type='text/css'>
<link href="/icheck/icheck.css" rel="stylesheet">
<style type="text/css">
  .type-li{
    padding: 10px 10px;
    background-color: white;
    border-bottom: 1px solid #eee;
    cursor: pointer;
  }
  .type-li:first-child{
    border-top: 1px solid #eee;
  }
  .icon-x{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    color: red;
    cursor: pointer;
  }
  .btn-content{
    text-align: center;
      margin-top: 50px;
  }
  .btn-content .btn{
      width: 150px;
      margin:0 20px;
  }
  .apimanage_add.apiactive a{
    color: white !important;
  }
</style>
<nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation" id="title">
  <div class="navbar-header page-scroll">
    <a href="/">
      <div class="logo">margic_box</div>
    </a>
  </div>
</nav>
<body>

<div class="content">
    <div class="api-container">
        <div class="col-sm-2 api-menu">
            <ul class="menu">
            </ul>
        </div>
        <div class="col-sm-10 api-content">
          <form action="" id="form">
            <section class="sec-content apiactive" id="apimanage_add" style="display:block">
                <input type="hidden" name="api_id" id="api-id">
                <p>url:</p>
                <div class="code-content">
                    <input type="text" name="url">
                </div>
                <p>user_id:</p>
                <div class="code-content">
                    <input type="text" name="user_id">
                    <div class="type-list">
                    </div>
                </div>
                <p>title:</p>
                <div class="code-content">
                    <input type="text" name="title">
                </div>
                <p>platform:</p>
                <div class="code-content">
                    <input type="text" name="platform">
                </div>
                <button type="button" class="btn btn-primary btn-lg mt-50 btn-block create">创建</button>
            </section>
          </form>
        </div>
    </div>
</div>

<% include footer.ejs %>
<script type="text/javascript" src="/icheck/jquery.icheck.min.js"></script>
<script>
  //点击创建生成
  $(".create").on("click",function () {
      var data = $("#form").serializeArray();
      var url = "/lore/add";
      var type = "POST";
      sendQuery(url,type,data,{
          success:function(result){
              //获取当前项目名称
              var data = result.data;
              layer.msg('添加成功', {icon: 1});
          },
          error:function(error){
              layer.msg(error.message, {icon: 2});
          }
      })
  })
</script>
</html>
